    <style type="text/css">
        body {
            margin:5% 15% 5% 15%; 
            background-color:aliceblue;
            color:darkviolet; 
            font-family: sans-serif;
        }
        h1{
            text-align: center;
        }
        h2, h3{
            color: black;
        }
        img {
            justify-content: center;
            border: 1px solid #ddd;
            border-radius: 4px;
            padding: 5px;        
        }
        .centered {
            text-align: center;
        }
        ul.topnav {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color:blueviolet;
        }
        ul.topnav li {
            float: left;
        }
        ul.topnav li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        ul.topnav li a:hover:not(.active) {
            background-color: darkblue;
        }
        ul.topnav li a.active {
            background-color: #CCCCCC;
            color: #333
        }
        ul.topnav li.right {
            float: right;
        }
    </style>